$primaryColor: #635fC7;
$primaryHover: #A8A4ff;

$dangerColor: #EA5555;
$dangerHover: #ff9898;

$mixedText: #828fA3;

//theme specific variables
$lightModeText: #000112;
$lightModeShadow: #e4EBFA;
$lightModeBG: #f4f7fd;
$lightModeCard: #fff;

$darkModeBG: #20212c;
$darkModeCard: #2b2c37;
$darkModeShadow: #3e3f4e;
// transition
$primaryTransition: all 0.5s ease-in-out;

//components specific variables
$logoWidth: 225;
$logoWidthXL: 300;
$headerHeight: 75;
$headerHeightXL: 100;

//font sizes by device //
$fontMobile: 13;
$fontTablet: 14;
$fontDesktop: 15;
$fontLarge: 18;